<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    .container-bg{
      background: rgba(0, 0, 0, 0.4);
      padding: 40px;
      padding-top: 40px;
      padding-right: 40px;
      padding-bottom: 100px;
      padding-left: 40px;
      text-align: center;
      width: 500px;
      height: 400px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: auto;
      margin-left: auto;
      padding-bottom: 100px;
    }

    body{
      background-image: url(https://www.matichon.co.th/wp-content/uploads/2019/03/%E0%B8%AA%E0%B8%A7%E0%B8%99%E0%B8%9B%E0%B9%8B%E0%B8%A7%E0%B8%A202.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .jumbotron{
      background-color: white;
      padding-top: 0%;
      width: 100%;
      height: 120px;
    }

    label{
      color: ghostwhite;
    }

    img{
      background-size: cover;
      transform: translate(-90%, 30%);
    }

  </style>
</head>

<body>
<div class="jumbotron">
  <div class="container">
    <div id="a" class="container">
      <p class="indent"><img src="https://tu.ac.th/uploads/media/logo/logo02.jpg" width="415" height="80"></p>
    </div>
  </div>
</div>

<div class="container-bg">
<div class="container">
  <form action="auth" method="POST">
    <div class="form-group">
      <label for="usn">Username:</label>
      <input type="text" name="username" class="form-control" id="usn" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" name="password" class="form-control" id="pwd" required>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <input type="submit">
  </form>
</div>
</div>

</body>
</html>
